<!DOCTYPE html>
<html ng-app="article">
    <head>
        <title>DockDocker</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="js/libs/angular.js/angular.js"></script>
        <script type="text/javascript" src="js/libs/angular.js/angular-route.js"></script>
        <script type="text/javascript" src="js/App.js"></script>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body ng-controller="main">
        
        <div class="header">
            <div class="logo"></div>
        </div>
        
        <div class="page clearfix">
            <div class="menu">
                <ul ng-repeat="item in menu">
                    <li ng-click="item.display = !item.display">
                        <a>{{item.titel}}</a>
                    </li>
                </ul>
            </div>

            <div ng-view class="view-area"></div>
        </div>
        
        <!--<div class="footer">copyright spul</div>-->
    </body>
</html>
